# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.o.cmd
*.c.cmd

# Unuseable
*~
vmlinux
vmlinux.o
System.map
.*
./tags
